.breadcrumb {
	background: transparent;
	padding: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

.breadcrumb-item + .breadcrumb-item::before {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.breadcrumb-item.active {
	color: #0c0d36;
	font-weight: 400;
}

.breadcrumb-item a {
	color: #979797;
}

// div.dataTables_wrapper {
// 	width: 800px;
// 	margin: 0 auto;
// }
table {
	font-size: 14px;

	// th, td { white-space: nowrap; }
}
